title = "Article"
url = "/knowledge-hub/:category*/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "{{ /knowledge-hub/category/:category }}"

[siteSearchInclude]
==
function onStart()
{

    $db_categories = Db::table('rainlab_blog_categories')->get();

    $cat_list = array();

    $valid_category = false;

    foreach ($db_categories as $category) {
        if ($category->slug == $this -> param('category')) { $valid_category = true; }
        array_push($cat_list, $category);
    }

    if ($valid_category) {

        $current_category = $db_categories
                            -> where('slug', $this -> param('category'))
                            -> first();

        $this['category'] = $current_category;
        $this['category_count'] = sizeof($cat_list);
        $this['categories'] = $cat_list;

        $article = DB::table('rainlab_blog_posts_categories')
                            -> join('rainlab_blog_posts', 'rainlab_blog_posts_categories.post_id', '=', 'rainlab_blog_posts.id')
                            -> join('backend_users', 'rainlab_blog_posts.user_id', '=', 'backend_users.id')
                            -> where('rainlab_blog_posts.slug', '=', $this->param('slug'))
                            -> select('title', 'slug', 'content_html', 'excerpt', 'first_name', 'last_name', 'published_at', 'category_id')
                            -> first();

        $this['article'] = $article;


        ############################

        # These aren't 'related', just recent
        $related_articles = DB::table('rainlab_blog_posts_categories')
                            -> join('rainlab_blog_posts', 'rainlab_blog_posts_categories.post_id', '=', 'rainlab_blog_posts.id')
                            -> join('backend_users', 'rainlab_blog_posts.user_id', '=', 'backend_users.id')
                            -> where('rainlab_blog_posts_categories.category_id', '=', $current_category->id)
                            -> where('rainlab_blog_posts.published', '=', 1)
                            -> select('title', 'slug', 'content_html', 'excerpt', 'first_name', 'last_name', 'published_at')
                            -> orderBy('published_at', 'desc')
                            -> take(2)
                            -> get();

        $related_array = array();

        foreach ($related_articles as $rel_article) {
            array_push($related_array, $rel_article);
        }

        $this['related_articles'] = $related_array;

        ############################
    }
}
==
{% if (article.title != NULL) %}

    <section id="section-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="category-header">{{ category.name }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p id="bc-breadcrumb">
                        <a class="current-path" href="/">Home</a>
                        <span class="glyphicon glyphicon-chevron-right current-path"></span>
                        <a class="current-path" href="/knowledge-hub">The Business Hub</a>
                        <span class="glyphicon glyphicon-chevron-right current-path"></span>
                        <a class="current-path" href="/knowledge-hub/{{ category.slug }}">{{ category.name }}</a>
                        <span class="glyphicon glyphicon-chevron-right current-path"></span>
                        <a class="current-path" href="/knowledge-hub/{{ category.slug }}">Articles</a>
                        <span class="glyphicon glyphicon-chevron-right current-path"></span>
                        {% if (article.title|length > 50) %}
                            {% set sliced_title = article.title|slice(0, 50) ~ '...' %}
                        {% else %}
                            {% set sliced_title = article.title %}
                        {% endif %}
                        {{ sliced_title }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="article">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="article-title">{{ article.title }}</h1>
                    <p id="article-author">Author: <strong>{{ article.first_name }} {{ article.last_name }}</strong></p>
                    {{ article.content_html|raw }}
                    <hr>
                    <h3 class="related-article">Related Articles</h3>
                    <div class="row">
                        {% for rel_article in related_articles %}
                            <div class="col-md-6">
                                <div class="related-article">
                                    <h2 class="article-title"><a href="/knowledge-hub/{{ category.slug }}/{{ rel_article.slug }}">{{ rel_article.title }}</a></h2>
                                    <p>Author: <strong>{{ rel_article.first_name }} {{ rel_article.last_name }}</strong></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h3>Categories</h3>
                    <br>
                    <ul class="list-unstyled">
                        {% set sidebar_count = 0 %}
                        {% for category in categories %}
                            {% set sidebar_count = sidebar_count + 1 %}
                            <li><p class="sidebar"><a href="/knowledge-hub/{{ category.slug }}">{{ category.name }}</a></p></li>
                            {% if (sidebar_count < category_count) %}
                                <li><hr class="sidebar"></li>
                            {%  endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% else %}
    {% content "404.htm" %}
{% endif %}