title = "Category"
url = "/knowledge-hub/:category"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :category }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = 404
postPage = 404
==
function onStart() {

    $db_categories = DB::table('rainlab_blog_categories')->get();

    $cat_list = array();

    $valid_category = false;

    foreach ($db_categories as $category) {
        if ($category->slug == $this -> param('category')) { $valid_category = true; }
        array_push($cat_list, $category);
    }

    $this['valid_category'] = $valid_category;

    if ($valid_category) {

        $this['category_count'] = sizeof($cat_list);
        $this['categories'] = $cat_list;

        $current_category = $db_categories
                        -> where('slug', $this -> param('category'))
                        -> first();

        $this['category'] = $current_category;

        $master_table = DB::table('rainlab_blog_posts_categories')
                        -> join('rainlab_blog_posts', 'rainlab_blog_posts_categories.post_id', '=', 'rainlab_blog_posts.id')
                        -> join('backend_users', 'rainlab_blog_posts.user_id', '=', 'backend_users.id')
                        -> where('rainlab_blog_posts_categories.category_id', '=', $current_category->id)
                        -> where('rainlab_blog_posts.published', '=', 1)
                        -> select('title', 'slug', 'content_html', 'excerpt', 'first_name', 'last_name', 'published_at')
                        -> orderBy('published_at', 'desc')
                        -> take(5)
                        -> get();

        $articles = array();
        foreach ($master_table as $post) {
            array_push($articles, $post);
        }
        $this['articles'] = $articles;
    }
}
==
{% if (valid_category) %}

    <section id="section-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="category-header">{{ category.name }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p id="bc-breadcrumb">
                        <a class="current-path" href="/">Home</a>
                        <span class="glyphicon glyphicon-chevron-right current-path"></span>
                        <a class="current-path" href="/knowledge-hub">The Business Hub</a>
                        <span class="glyphicon glyphicon-chevron-right current-path"></span>
                        {{ category.name }}
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section id="recent-articles">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Articles</h3>
                    <p>Welcome to {{ category.name }} - here you'll find the latest articles and questions relating to {{ category.name|lower }}</p>

                    {% for article in articles %}
                        <div>
                            <h1 class="article-title"><a href="/knowledge-hub/{{ category.slug }}/{{ article.slug }}">{{ article.title }}</a></h1>
                            <p class="excerpt">{{ article.excerpt }}</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Author: <strong>{{ article.first_name }} {{ article.last_name }}</strong></p>
                                </div>
                                <div class="col-md-8">
                                    {% set reading_time =  (article.content_html|split(' ')|length // 250) + 1 %}
                                    <p>Reading Time: <strong>{{ reading_time }} minutes</strong></p>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h3>Categories</h3>
                    <br>
                    <ul class="list-unstyled">
                        {% set sidebar_count = 0 %}
                        {% for category in categories %}
                            {% set sidebar_count = sidebar_count + 1 %}
                            <li><p class="sidebar"><a href="/knowledge-hub/{{ category.slug }}">{{ category.name }}</a></p></li>
                            {% if (sidebar_count < category_count) %}
                                <li><hr class="sidebar"></li>
                            {%  endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>



{% else %}
    {% content "404.htm" %}
{% endif %}