description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BC - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Changa+One|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/themes/demo/assets/css/bc-293674f4a2.css"/>
        <link rel="stylesheet" href="/themes/demo/assets/css/bc-khub.css"/>

        <!--{% styles %}-->
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>
        {% framework extras %}
        {% scripts %}
    </body>
</html>
