description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BC - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Changa+One|Roboto:300,400" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!--need this for glyphicons-->

        <link rel="stylesheet" href="https://www.businesscomparison.com/build/css/bc-293674f4a2.css"/>  <!-- BC standard stylesheet -->
        <link rel="stylesheet" href="/themes/bc/assets/css/bc-khub.css"/> <!-- Knowledge Hub specific -->
        <link rel="stylesheet" href="/themes/bc/assets/css/sitesearch-override.css"/>
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>
        {% framework extras %}
        {% scripts %}
    </body>
</html>
