<section id="bc_header">
    <div class="container">
        <div class="row" id="header-top-row">
            <div class="col-xs-12 col-md-7 col-lg-8">
                <div class="header-container">
                    <a href="https://www.businesscomparison.com/" id="header-logo-link">
                        <img alt="business comparison" id="header-logo" src="/themes/demo/assets/images/logo.svg"/>
                    </a>
                    <span class="tagline">
                        Helping you <span class="green-text">compare, </span> <br class="visible-xs"/><span
                            class="yellow-text">save </span>and<span class="pink-text"> succeed</span>
                    </span>
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-5 col-lg-4">
                <div class="award-container full-height">
                    <img src="/themes/demo/assets/images/sme.png" alt="sme"/>
                </div>
                <div class="award-container">
                    <img src="/themes/demo/assets/images/oba-winner.png" alt="oba" style="max-width: 80px"/>
                </div>
            </div>
            <button type="button" id="mobile-menu-toggle" class="hidden-md hidden-lg">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span>MENU</span>
            </button>
        </div>
    </div>
</section>

<div class="text-center">
    <ul class="nav">
        <li>Home</li>
        <li class="v-divider"></li>
        <li>Business Finance</li>
        <li class="v-divider"></li>
        <li>Bank Accounts</li>
        <li class="v-divider"></li>
        <li>foo</li>
        <li class="v-divider"></li>
        <li>bar</li>
        <li class="v-divider"></li>
        <li>foobar</li>
    </ul>
</div>