body {
    overflow-x: hidden;
}

#welcome-header {
    margin-top: 40px;
}

#category-header {
    font-size: 32pt;
    margin: 30px 0;
}



.top-container{
    margin-top: 0;
    background-color: #009595;
    color: #FFFFFF;
    border-bottom: solid #4AC6C5;
}

p {
    font-family: "Roboto", "sans-serif";
    font-size: 12pt;
}

h3 {
    margin-top: 40px;
    font-family: "Roboto", "sans-serif";
    font-size: 20pt;
    font-weight: 900;
}

h4 {
    font-family: "Roboto", "sans-serif";
    font-size: 16pt;
    font-weight: 900;
}

.category-desc{
    font-size: 11pt;
}

.category-icon {
    width: 120px;
    height: 120px;
    margin: 30px auto 20px auto;
}

img.accounting {
    content:url("/themes/bc/assets/images/accounting_icon.png");
}

img.business-growth {
    content:url("/themes/bc/assets/images/growth_icon.png");
}

img.client-customers {
    content:url("/themes/bc/assets/images/client_icon.png");
}

img.legal {
    content:url("/themes/bc/assets/images/legal_icon.png");
}

img.marketing-sales {
    content:url("/themes/bc/assets/images/marketing_sales_icon.png");
}

img.technology {
    content:url("/themes/bc/assets/images/technology_icon.png");
}

img.finance-funding {
    content:url("/themes/bc/assets/images/finance_icon.png");
}

img.stakeholders {
    content:url("/themes/bc/assets/images/stakeholders_icon.png");
}

.center-80pc{
    width: 80%;
    margin: 0 auto;
}

.categories {
    margin-top: 50px;
    color: #505050;
    background-color: #F7F7F7;
}

.category-btn {
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #505050;
    font-weight: bold;
    margin-bottom: 30px;
}

li.arrow-bullet, .arrow-bullet {
    display: block;
    margin: 10px 0 10px -17px;
}

li.arrow-bullet:before, .arrow-bullet:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings', 'sans-serif';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
}

li.pink-bullet:before, .pink-bullet:before {
    color: #f44165;
}

li.green-bullet:before, .green-bullet:before {
    color: #4ac6c5;
}

li.yellow-bullet:before, .yellow-bullet:before {
    color: #f6ae01;
}

#footer-logo {
    height: 32px;
}

.footer-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links li{
    display: inline;
    margin: 0 20px;
}

.social {
    display: inline;
}

.social li{
    margin: 0 10px;
}

.social-icon {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 1px solid #4ac6c5;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 56px 56px;
    background-image: url(/themes/bc/assets/images/social-sprite.png);
    transition: background-image .25s linear
}

.social-icon:hover {
    background-image: url(/themes/bc/assets/images/social-sprite-hover.png)
}

.nav {
    background-color: #15A09F;
    color: #FFFFFF;
    border-top: solid #4AC6C5;
    height: 40px;
}

.nav li {
    display: inline;
    padding: 30px;
}




#custom-search-input {
    width: 50%;
    margin: 40px auto;
}

#custom-search-input #search-box{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#search-box {
    padding: 26px;
}

#search-btn {
    border: 0;
    background: none;
    left: -35px;
    color:#D9230F;
}


/* Live search */
/* = Live Search
-------------------------------------------------------------- */
#live-search {
    padding: 45px 0 60px;
}

#live-search #searchform {
    max-width: 750px;
    width: 100%;
    background: #fff;
    background-clip: padding-box;
    border-radius: 5px;
    margin: 0 auto;
    border: 1px solid #d7d7d7;
}

#live-search .input {
    position: relative;
    display: inline-flex;
    margin: 0;
    width: 100%;
}

#live-search .input label {
    color: #A9A9A9;
    display: inline-block;
    left: 26px;
    position: absolute;
    top: 20px;
    z-index: 1;
    text-transform: none;
    cursor: text;
    font-size: 16px;
}

body.safari #live-search .input label {
    top: 24px;
}

#live-search .input label.focus {
    color: #ccc;
}

#live-search .input label.has-text {
    display: none;
}

#live-search #s {
    float: left;
    width: 89%;
    background: none;
    color: #595959;
    font-size: 16px;
    padding: 20px 0 20px 25px;
    border: none;
    box-shadow: none;
}

#live-search #s.loading {
    background: url(images/loader-light.gif) no-repeat right 30px;
}

#live-search #searchsubmit {
    position: absolute;
    font-family: 'FontAwesome';
    background-color: transparent;
    background-repeat: no-repeat;
    float: right;
    margin: 8px 15px 0 0;
    padding: 9px 18px 9px 34px;
    right: 0;
    border: none;
    height: 48px;
    width: 32px;
    min-width: 32px;
    border: none;
    cursor: pointer;
    color: #bbb !important;
    background-color: transparent !important;
    font-size: 20px !important;
    text-shadow: none !important;
    clear: none !important;
    line-height: initial;
    background-clip: padding-box;
    border-radius: 0 !important;
    border: 0;
    z-index: 100;
}

#live-search #searchsubmit:hover {
    background-color: transparent;
    color: #aaa !important;
    border: transparent !important;
}

#search-wrap {
    position: relative;
}

#search-result {
    position: absolute;
    background: #fff;
    list-style: none;
    font-size: 13px;
    top: -20px;
    padding-top: 20px;
    left: -1px;
    margin: 0;
    border: 1px solid #d7d7d7;
    z-index: 5;
    border-top: none;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 750px;
    max-height: 750px;
}

#search-result li {
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
    transition: all 0.2s linear;
}

#search-result li:last-child {
    margin: 0;
    border-bottom: none;
}

#search-result li.no-results {
    display: block;
    color: #646464;
    padding: 15px 15px 20px 25px;
    font-size: 14px;
    border: none;
}

#search-result a {
    display: block;
    color: #646464;
    padding: 15px 15px 15px 25px;
    font-size: 14px;
    border: none;
}

#search-result a:hover {
    text-decoration: none;
    background: #F5F5F5;
    border: none;
}

#search-result a i,
#search-result li.no-results i {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 15px;
    color: #888;
}

#search-result img {
    vertical-align: middle;
    margin: 0 10px 0 0;
}

#search-result .nothing-here {
    padding: 0 5px;
}

@media screen and (max-width: 480px) {
    #live-search #s {
        width: 100%;
    }

    #live-search #searchsubmit {
        display: none;
    }
}


a.current-path {
    color: #9c9c9c;
}

span.current-path {
    color: #4ac6c5;
}

.current-path {
     font-size: 10pt;
     margin: 15px 2px;
 }

.article-title {
    color: #4ac6c5;
    text-decoration:none;
}

.article-title:hover {
    color: #3f8b8a;
    text-decoration:none;
}

.article-excerpt {
    font-style: italic;
    color: #707070;
}

.no-margin-top {
    margin-top: 0;
}